@import url('https://fonts.googleapis.com/css?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond&display=swap');

body{
   background-color: black; 
}
.navbarcolor{
    background-color: black;

}
.textnavbar:hover{
    color: purple;
    font-family: 'Satisfy' ;
    font-size: 25px;
}
.textnavbar{
    color:  white;
    font-family: 'Cormorant Garamond';
    font-size:25px;
    
}
.buttonavbar{
    background-color:black;
    border-color: purple;
    border-radius: 10px;
}
.buttonavbar:hover{
    background-color: purple;
    border-color: black;
    border-radius: 10px;
    color: black;
}


.portafolio {
    display: flex;
    margin: 50px 0; /*arriba-abajo izquierda-derecha*/
}

.portafolio_box {
    margin: 15px;
    box-shadow: 0 1px 8px 2px purple;
    border-radius: 5px;
    color:white;
    justify-content: space-between;
   
    display: flex;
}
.container {
    width: 1000px;
    margin-left: 150px; /*Centra todo lo del contenido*/
}

.portafolio_box img {
    border-radius: 5px;
}

.portafolio_card {
    margin: 20px;
    padding: 5px;
}

.portafolio_card button {
    background-color: purple;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 1px 4px 1px purple;
}

.portafolio_card button:hover {
    background-color: plum;
    color: black;
    border: none;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 1px 4px 1px purple;
}
.footer .footer_sections {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 20px;
}

.copyright p {
    margin-top: 0;
    margin-bottom: 0;
    background-color: black;
    text-align: center;
    color: white;
    
}
p{
    justify-content: center;
    align-items: center;
}